body
{
	color: #000000;
	background-color: #ffffff;
}

a:link 
{
	color: #58acff;
}

a:visited 
{
	color: #58acff;
}
a:active 
{
	color: #58acff;
} 

a:hover
{
	color: #ff0000;
} 

img
{
	border: 0px;
	padding: 0px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

table
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10pt; font-weight: normal;
}